.slick-header-column{
	font-size:8pt;
}
.slick-cell{
	font-size:10px;
}
.conteiner .filter .filter_select{
	width:100px;
}

.conteiner .filter .filter_input{
	width:60px;
}

.conteiner .filter .filter_text{

}