body{
	margin:0px;
	padding:0px;
}
#head{
	height:100px;
	border-bottom: 1px #B4B4B4 solid;
}
#content{
	border-bottom: 1px #B4B4B4 solid;
}
ul#menu{
	list-style-type: none;
	margin: 70px 30px 0px 0px;
	padding: 0px;
	float: right;
}
ul#menu li{
	float: left;
}
ul#menu li a{
	margin: 0px 15px;
	color: #333;
	text-decoration:none;
}
ul#menu li a:hover{
	text-decoration:underline;
};